# NodeJS
/node_modules
package-lock.json

# Laravel
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.rnd

# IDEs
/.idea
/.vscode
/nbproject

# OS X
.DS_store
