/*
 * Basic
*/

body {
    font-size: 1rem;
    line-height: 1.65;
}

/*
 * Navbar
*/

.landing-navbar {
    -webkit-transition: all .2s;
    transition: all .2s;
}

.landing-navbar .nav-link {
    font-size: .894rem;
}

.landing-slider-parallax-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 130%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

[dir=rtl] .landing-slider-parallax-bg {
    left: auto;
    right: 0;
}

/*
 * App preview slider
*/

.app-preview-slider {
    padding-top: 3rem !important;
    padding-bottom: 5rem !important;
}

.app-preview-slider-wrapper {
    padding: 0 1rem;
}

.app-preview-slider .swiper-slide {
    text-align: center;
}

.app-preview-slider .swiper-slide img {
    opacity: .5;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.app-preview-slider .swiper-slide-active img {
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, .15), 0 0 10px rgba(0, 0, 0, .05);
    box-shadow: 0 0 30px rgba(0, 0, 0, .15), 0 0 10px rgba(0, 0, 0, .05);
    opacity: 1;
}

@media (min-width: 992px) {
    .app-preview-slider-wrapper {
        padding: 0;
    }

    .app-preview-slider .swiper-slide img {
        -webkit-transform: scale(.75);
        transform: scale(.75);
    }

    .app-preview-slider .swiper-slide-active img {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

/*
 * Content
*/

.landing-block {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

@media (min-width: 992px) {
    .landing-block {
        padding-top: 7rem;
        padding-bottom: 7rem;
    }
}

hr.landing-separator {
    margin: 0 0 1.25rem 0;
    width: 3rem;
    border-width: 2px;
    text-align: left;
}

.landing-separator-stripes {
    width: 100%;
    height: 4px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, .06) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .06) 50%, rgba(0, 0, 0, .06) 75%, transparent 75%, #fff);
    background-size: 4px 4px;
}

/*
 * Landing variations
*/

/* Landing 1 */
.landing-1 .font-secondary {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.landing-1 .landing-navbar-alt {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05), 0 1px 0 rgba(24, 28, 33, .04) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05), 0 1px 0 rgba(24, 28, 33, .04) !important;
}

.landing-1 .landing-btn {
    text-transform: uppercase;
    letter-spacing: .06991em;
    font-weight: 600;
    font-size: 85%;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Landing 2 */
.landing-2 .font-secondary {
    font-family: "Barlow", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.landing-2 .landing-btn {
    text-transform: uppercase;
    letter-spacing: .06991em;
    font-weight: 500;
    font-size: 85%;
}

/* Landing 3 */
.landing-3 .font-secondary {
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.landing-3 .font-weight-semibold {
    font-weight: 600 !important;
}

.landing-3 .landing-navbar-alt {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .05), 0 1px 0 rgba(24, 28, 33, .04) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05), 0 1px 0 rgba(24, 28, 33, .04) !important;
}

.landing-3 .landing-btn {
    text-transform: uppercase;
    letter-spacing: .06991em;
    font-weight: 700;
    font-size: 85%;
    font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Landing 4 */
.landing-4 .font-secondary {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.landing-4 .landing-btn {
    text-transform: uppercase;
    letter-spacing: .06991em;
    font-weight: 600;
    font-size: 85%;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Discord */
.discord:hover {
    background-color: #738ADB;
    color: #fff;
}
/* End Discord */
